<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="StudentInfromation">
	<test name="StudentInfromation">
		<classes>
			<class
				name="Setting.FinancialAid.TestCases.TC007_CampusesECRUDTestCases">
				<methods>
					<include name="CreateCampus" />
					<include name="GetCampus" />
					<include name="EditCampus" />
					<include name="DeleteCampus" />
				</methods>
			</class>
			<class
				name="Configuration.ContactManager.TestCases.TC001_VisaTypeCRUDTestCase">
				<methods>
					<include name="CreateVisaType" />
					<include name="CodeValidationinewNewMode" />
					<include name="GetforEditVisaType" />
					<include name="EditVisaType" />
					<include name="GetforDeleteVisaType" />
					<include name="DeleteVisaType" />
				</methods>
			</class>
			<class
				name="Configuration.FinancialAid.TestCases.TC002_BudgetsCRUDTestCase">
				<methods>
					<include name="CreateRecordBudgets" />
					<include name="GetEditBudgets" />
					<include name="EditRecordBudgets" />
					<include name="GetDeleteBudgets" />
					<include name="DeleteRecordBudgets" />
				</methods>
			</class>
			<class
				name="Configuration.FinancialAid.TestCases.TC003_SAPStatusCRUDTestCases">
				<methods>
					<include name="CreatefaSAPStatus" />
					<include
						name="CreateCodeAlreadyExistsValidationfaSAPStatus" />
					<include name="GetEditModefaSAPStatus" />
					<include name="EditfaSAPStatus" />
					<include name="GetDeletefaSAPStatus" />
					<include name="DeletefaSAPStatus" />
				</methods>
			</class>
			<class name="Configuration.FinancialAid.TestCases.TC005_Groups">
				<methods>
					<include name="CreateNewGroups" />
					<include name="GetEditGroups" />
					<include name="EditGroupsandAddStudentMember" />
					<include name="GetDeleteGroups" />
					<include name="DeleteGroupsandAddStudentMember" />
				</methods>
			</class>
			<class
				name="Configuration.FinancialAid.TestCases.TC004_faSAPPoliciesandPloicyDetailsCRUDTestCases">
				<methods>
					<include name="CreatefaSAPStatus" />
					<include name="CreateNewGroups" />
					<include name="CreateSAPPolicies" />
					<include name="GetEditSAPPolicies" />
					<include name="EditSAPPolicies" />
					<include name="GetDeleteSAPPolicies" />
					<include name="DeleteAPPolicies" />
					<include name="GetDeleteGroups" />
					<include name="DeleteGroupsandAddStudentMember" />
					<include name="GetDeletefaSAPStatus" />
					<include name="DeletefaSAPStatus" />
				</methods>
			</class>
			<class
				name="Configuration.AcademicRecords.TestCases.TC006_FAAcademicYearCRUDTestCases">
				<methods>
					<include name="CreateAcademicYear" />
					<include name="getAcademicYear" />
					<include name="EditAcademicYear" />
					<include name="getDeleteAcademicYear" />
					<include name="DeleteAcademicYear" />
				</methods>
			</class>
			<class
				name="Configuration.AcademicRecords.TestCases.TC009_TermsCRUDTestCases">
				<methods>
					<include name="CreateTerms" />
					<include name="EditTerms" />
					<include name="DeleteTerms" />
				</methods>
			</class>
			<class
				name="Configuration.AcademicRecords.TestCases.TC011_AdPrograms">
				<methods>
					<include name="CreateAdPrograms" />
					<include name="CodeAlreadyExistsValidationAdPrograms" />
					<include name="GetandDeleteAdPrograms" />
				</methods>
			</class>
			<class
				name="Configuration.AcademicRecords.TestCases.TC012_AdAdProgramVersionsCRUDTestCase">
				<methods>
					<include name="CreateProgramVersion" />
					<include name="EditandGetProgramVersion" />
					<include name="DeleteGetProgramVersion" />
				</methods>
			</class>
			<class
				name="Setting.FinancialAid.TestCases.TC001_FAProgramVersionsCRUDTestCases">
				<methods>
					<include name="CreateProgramVersion" />
					<include
						name="CreateFAProgramVersionsWithTermaAsscoationValidatione" />
					<include name="CreateFAProgramVersions" />
					<include name="DeleteFAProgramVesrions" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
